.color-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.background,
.foreground {
    position: absolute;

    &__inner {
        display: inline-block;
        padding: .2em .5em;
        border-radius: .3em .3em 0 0;
        background: rgba(0,0,0,.5);
        color: white;
        text-shadow: 0 -.1em .1em black;
        font-size: 60%;
        font-weight: bold;
    }
}

.background {
    right: 50%;
    text-align: left;

    &__inner {
        margin-left: 1em;
    }
}

.foreground {
    left: 50%;
    text-align: right;

    &__inner {
        margin-right: 1em;
    }
}

#foreground,
#background {
    position: relative;
    display: block;
    min-width: 8em;
    padding: .2em .5em .1em;
    margin-top: -.1em;
    border: 1px solid rgba(0,0,0,.3);
    background: hsla(0,0%,90%,.9);
    color: #333;
    text-shadow: 0 .05em 1px white;
    font: 150% Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;
    box-shadow: .05em .1em .2em rgba(0,0,0,.4) inset;
}

#background {
    padding-right: 2em;
    margin-right: -.1em;
    border-radius: .3em 0 0 .3em;
    text-align: right;
}

#foreground {
    padding-left: 2em;
    margin-left: -.1em;
    border-radius: 0 .3em .3em 0;
}

#output {
    display: block;
    position: relative;
    width: 3em;
    padding: 1em 0;
    border: thin solid rgba(0,0,0,.4);
    margin: -.1em auto 0;
    background: hsl(0, 0%, 50%) -35% -35%;
    background-size: 142% 142%;
    text-align: center;
    color: white;
    text-shadow: 0 -.06em .05em rgba(0,0,0,.5);
    font: bold 170%/1 'Arial Unicode MS', sans-serif;
    letter-spacing: -.05em;
    box-shadow: .05em .1em .2em rgba(0,0,0,.4),
                -.1em -.1em .5em rgba(0,0,0,.4) inset,
                0 .3em hsla(0,0%,100%,.2) inset;
    border-radius: 50%;
}

#ratio {
    color: #fff;
}

#error {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    opacity: .8;
    text-align: center;
    font-size: 45%;
    letter-spacing: normal;
}

#results {
    position: absolute;
    left: 50%;
    width: 15em;
    padding: 1em 1.5em;
    border: 1px solid gray;
    border-radius: .5em;
    margin-left: -9em;
    margin-top: .7em;
    box-shadow: .1em .1em .8em -.1em black;
    background: white;
    text-align: left;
    font-size: 65%;
    transform: scale(0);
    transform-origin: top;
    transition: .4s transform;

    #output:focus + &,
    #output:hover + & {
        transform: none;
        transition-timing-function: cubic-bezier(.5,0,.7,1.8);
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: -15px;
        left: 50%;
        width: 0;
        height: 0;
    }

    &:before {
        margin-left: -17px;
        margin-top: -2px;
        border: 17px solid transparent;
        border-top-width: 0;
        border-bottom-color: gray;
    }

    &:after {
        margin-left: -16px;
        margin-top: -1px;
        border: 16px solid transparent;
        border-top-width: 0;
        border-bottom-color: white;
    }
}

.hint {
    font-size: 11pt;
}
